---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer" >my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>

<strong>2024</strong>
  
<li><strong>Luo, H.</strong>, Quaas, J., and Han, Y.: Decreased cloud cover partially offsets the cooling effects of surface albedo change due to deforestation, Nature Communications, 15, 7345, https://doi:10.1038/s41467-024-51783-y, 2024. [<a href="https://www.nature.com/articles/s41467-024-51783-y" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Luo, H.</strong>, Quaas, J., and Han, Y.: Diurnally asymmetric cloud cover trends amplify greenhouse warming, Science Advances, 10, eado5179, https://doi.org/10.1126/sciadv.ado5179, 2024. [<a href="https://doi.org/10.1126/sciadv.ado5179" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Ma, T., Yu, W., Speich, S., <strong>Luo, H.</strong>, Liao, J: Structure, propagation of the 10-25-day and 30-60-day intra-seasonal oscillations and their role in triggering the South China Sea summer monsoon onset, Journal of Climate, https://doi.org/10.1175/JCLI-D-23-0182.1, 2024. [<a href="https://doi.org/10.1175/JCLI-D-23-0182.1" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Ye, D., Wang, X., Han, Y., Zhang, Y., Dong, L., <strong>Luo, H.</strong>, Xie, X, Xu, D.: Precipitation Characteristics and Mechanisms over Sri Lanka against the Background of the Western Indian Ocean: 1981–2020, Atmosphere, 15(8), 962, https://doi.org/10.3390/atmos15080962, 2024.
 [<a href="https://doi.org/10.3390/atmos15080962" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<strong>2023</strong>

<li><strong>Luo, H.</strong>, Quaas, J., and Han, Y.: Examining cloud vertical structure and radiative effects from satellite retrievals and evaluation of CMIP6 scenarios, Atmospheric Chemistry and Physics, 23, 8169-8186, https://doi.org/10.5194/acp-23-8169-2023, 2023.
 [<a href="https://doi.org/10.5194/acp-23-8169-2023" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Luo, H.</strong>, Han, Y., Dong, L., Xu, D., Ma, T., and Liao, J.: Robust variation trends in cloud vertical structure observed from three-decade radiosonde record at Lindenberg, Germany, Atmospheric Research, 281, 106469, https://doi.org/10.1016/j.atmosres.2022.106469, 2023.
 [<a href="https://doi.org/10.1016/j.atmosres.2022.106469" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Dong, L., Han, Y., Hu, M., <strong>Luo, H.</strong>, Wang, Y.: Stereo matching method based on high-precision occlusion-recovering and discontinuity-preserving, Displays, 80, 102573, https://doi.org/10.1016/j.displa.2023.102573, 2023.
 [<a href="https://doi.org/10.1016/j.displa.2023.102573" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Zhao, Y., Ding, J., Han, Y., Lu, T., Zhang, Y., and <strong>Luo, H.</strong>: Aerosol Physical-Optical Properties under Different Stages of Continuous Wet Weather over the Guangdong-Hong Kong-Macao Greater Bay Area, China, Remote Sensing, 15, 1413, https://doi.org/10.3390/rs15051413, 2023.
 [<a href="https://doi.org/10.3390/rs15051413" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<strong>2022</strong>

<li><strong>Luo, H.</strong>, Dong, L., Chen, Y., Zhao, Y., Zhao, D., Huang, M., Ding, D., Liao, J., Ma, T., Hu, M., and Han, Y.: Interaction between aerosol and thermodynamic stability within the planetary boundary layer during wintertime over the North China Plain: aircraft observation and WRF-Chem simulation, Atmospheric Chemistry and Physics, 22, 2507-2524, https://doi.org/10.5194/acp-22-2507-2022, 2022.
 [<a href="https://doi.org/10.5194/acp-22-2507-2022" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Liao, J., Luo, Q., Hu, A., Wan, W., Tian, D., Ma, J., Ma, T., <strong>Luo, H.</strong>, and Lu, S.: Soil moisture–atmosphere feedback dominates land N2O nitrification emissions and denitrification reduction, Global Change Biology, 28, 6404-6418, https://doi.org/10.1111/gcb.16365, 2022.
 [<a href="https://doi.org/10.1111/gcb.16365" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Su, Y., Han, Y., <strong>Luo, H.</strong>, Zhang, Y., Shao, S., and Xie, X.: Physical-Optical Properties of Marine Aerosols over the South China Sea: Shipboard Measurements and MERRA-2 Reanalysis, Remote Sensing, 14, 2453, https://doi.org/10.3390/rs14102453, 2022.
 [<a href="https://doi.org/10.3390/rs14102453" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<strong>2021</strong>
  
<li><strong>Luo, H.</strong> and Han, Y.: Impacts of the Saharan air layer on the physical properties of the Atlantic tropical cyclone cloud systems: 2003–2019, Atmospheric Chemistry and Physics, 21, 15171-15184, https://doi.org/10.5194/acp-21-15171-2021, 2021.
 [<a href="https://doi.org/10.5194/acp-21-15171-2021" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Luo, H.</strong>, Han, Y., Cheng, X., Lu, C., and Wu, Y.: Spatiotemporal Variations in Particulate Matter and Air Quality over China: National, Regional and Urban Scales, Atmosphere, 12, 43, https://doi.org/10.3390/atmos12010043, 2021.
 [<a href="https://doi.org/10.3390/atmos12010043" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Han, Y., <strong>Luo, H.</strong>, Wu, Y., Zhang, Y., and Dong, W.: Cloud ice fraction governs lightning rate at a global scale, Communications Earth & Environment, 2, 157, https://doi.org/10.1038/s43247-021-00233-4, 2021.
 [<a href=" https://doi.org/10.1038/s43247-021-00233-4" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Zhang, Y., Wei, F., <strong>Luo, H.</strong>, Su, Y., Feng, Y., Huang, Y., Yang, J., Wu, Y., and Han, Y.: Aerosol Physical-Optical Properties and PBLH Under Different Air Pollution Levels From Ground Lidar and Satellite Observations Over Shouxian Area, China, Journal of Geophysical Research: Atmospheres, 126, e2021JD035236, https://doi.org/10.1029/2021JD035236, 2021.
 [<a href="https://doi.org/10.1029/2021JD035236" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<strong>2019</strong>

<li><strong>Luo, H.</strong>, Han, Y., Lu, C., Yang, J., and Wu, Y.: Characteristics of Surface Solar Radiation under Different Air Pollution Conditions over Nanjing, China: Observation and Simulation, Advances in Atmospheric Sciences, 36, 1047-1059, https://doi.org/10.1007/s00376-019-9010-4, 2019. (Cover Paper)
 [<a href="https://doi.org/10.1007/s00376-019-9010-4" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>
