---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=_mGQ8WoAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L. Physics-informed deep learning-based inversion for airborne electromagnetic data. Geophysical Journal International, 238, 1774-1789. [<a href="https://doi.org/10.1093/gji/ggae244" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Fast Bayesian inversion of airborne electromagnetic data based on the invertible neural network. IEEE Transactions on Geoscience and Remote Sensing, 61, 5907211. [<a href="https://doi.org/10.1109/TGRS.2023.3264777" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>
