---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer" >my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>
<li><strong>Luo, H.</strong>, Quaas, J., and Han, Y.: Decreased cloud cover partially offsets the cooling effects of surface albedo change due to deforestation, Nature Communications, 15, 7345, https://doi:10.1038/s41467-024-51783-y, 2024. [<a href="https://www.nature.com/articles/s41467-024-51783-y" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Luo, H.<strong>, Quaas, J., and Han, Y.: Diurnally asymmetric cloud cover trends amplify greenhouse warming, Science Advances, 10, eado5179, https://doi.org/10.1126/sciadv.ado5179, 2024. [<a href="https://doi.org/10.1126/sciadv.ado5179" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>
